.footer {
    background-color: royalblue;
    height:60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 100%;
    z-index: 999;
}

.footer-paragraph {
    font-size: 18px;
    color: midnightblue;
    text-align: right;
    padding-right: 20px;
}