.header {
    background-color: royalblue;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 100%;
    z-index: 999;
}

.logo-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: auto;
    padding-top: 20px;
    padding-left: 80px;
    overflow: hidden;
}

.list-container {
    display: block;
    line-height: 90px;
}

ul {
    padding-left: 70px;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
}

ul li a {
    color: midnightblue;
    text-underline-mode: off;
}

a {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    font-weight: lighter;
}

a:hover {
    color: lightblue;
}